.navigation-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--grayscale_white);

  min-height: 70px;
  min-width: 100%;
}

.right-side-elements-wrap {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  align-self: center;
  position: relative;
  margin-left: auto;
  margin-right: 20px;

  align-items: center;
  justify-content: center;

  gap: 20px;
}

.nav-sign-in-button {
  height: 95%;
  width: fit-content;

  padding: 0 10px 0 10px;

  background: var(--secondary_main);
  border: 5px solid var(--secondary_main);
  border-radius: 50px;

  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;

  color: var(--grayscale_title);
}