.content-screen-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: initial;

  min-width: 100%;
  height: 100%;

  background: linear-gradient(309deg, var(--primary_dark) 24.3%, var(--primary_main) 56.06%, var(--inner) 88.48%, var(--secondary_middle) 88.48%);;

  font-family: Ubuntu;

  padding: 5% 10% 5% 10%;

  gap: 50px;
}

.content-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 40%;
  height: 100%;
}

.content-header {
  flex-grow: 7;

  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-align: start;

  color: var(--grayscale_title);
}

.start-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: var(--primary_darkest);
  border: none;
  border-radius: 50px;

  padding: 10px 40px 10px 40px;

  gap: 40px;

  transition: transform 0.5s;
}

.start-button:hover {
  transform: translateX(20px);
}

.start-text {
  font-family: Ubuntu;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  color: var(--primary_light);
}

.start-arrow {
  color: var(--primary_light);
}

.decoration-screen-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.big-circle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60%;

  border-radius: 50%;
  background-color: var(--tertiary_dark);
}

.big-circle:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.middle-circle {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: -30%;
  margin-right: -60%;

  width: 40%;

  border-radius: 50%;
  background-color: var(--tertiary_main);
}

.middle-circle:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.small-circle {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: -30%;
  margin-left: -55%;

  width: 35%;

  border-radius: 50%;
  background-color: var(--tertiary_light);
}

.small-circle:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.plant-image {
  width: 80%;
  height: 80%;

  background-size: cover;
  background-position: center;

  border-radius: 50%;
}