.profile-photo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 150px;
  height: 225px;

  background-color: var(--grayscale_line);

  padding: 20px;
  border-radius: 20px;
}

.photo {
}